.nav {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  z-index: 100;
  nav {
    height: 100px;
    display: flex;
    justify-content: space-between;
    ul {
      display: flex;
      list-style: none;
      align-items: center;

      li {
        display: flex;
        margin-right: 50px;
        align-items: center;

        a,
        p {
          user-select: none;
          transition: color 0.25s ease-out;
          color: var(--text-dark);
          text-decoration: none;

          &:hover {
            color: #f4f4f4;
          }
        }
      }
    }
  }
}
