.about {
  width: 600px;
  display: flex;
  justify-content: center;
  height: 90vh;
  box-sizing: border-box;
  padding: 75px;

  background-color: var(--bg-light);
  color: var(--text-light);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  h2 {
    color: #1c1d25;
    margin-top: 100px;
    font-weight: 700;
  }

  .who {
    margin-top: -18px;
    font-size: 14px;
  }

  p {
    font-weight: 400;
    line-height: 25px;
    word-spacing: 5px;
  }

  .html:hover {
    svg {
      path {
        fill: #e34f26;
      }
    }
  }
  .css:hover {
    svg {
      path {
        fill: #1572b6;
      }
    }
  }
  .js:hover {
    svg {
      path {
        fill: #f7df1e;
      }
    }
  }
  .sass:hover {
    svg {
      path {
        fill: #c69;
      }
    }
  }
  .react:hover {
    svg {
      path {
        fill: #61dafb;
      }
    }
  }
  .ts:hover {
    svg {
      path {
        fill: #007acc;
      }
    }
  }

  span {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 20px;

    svg {
      display: flex;
      height: 55px;
      width: 55px;
      path {
        transition: 0.2s;
        fill: #1c1d25;
      }
    }
  }
}
